<ion-view view-title="Sign in">
    <ion-content class="padding">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password">
          </label>
        </div>
        <a class="button button-block button-positive" href="#/tab/scan">
          Next
        </a>
    </ion-content>
</ion-view>

